<!DOCTYPE html>
<html>

<head>
  <title>form練習</title>
</head>

<body>
  <div style="display: flex; flex-flow: column; align-content: center; align-items: center;">

    <form method="POST" style="width: 100%; display: grid; justify-items: center;">
      <input type="text" name="meigen" placeholder="userID"
        style="width: 50%; border: 2px solid; margin-bottom: 15px;justify-content: space-between;">
      <input type="submit" value="input" style="width:50%; justify-content: space-between;">
    </form>

    <p style="width: 50%; height: 200px; border: 2px solid;justify-content: space-between;"></p>
    <button style="width: 50%;justify-content: space-between;">生成</button>

  </div>

</body>

</html>